@mixin BackgroundImg {
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-origin: initial;
}
@mixin  Precio {
        position: absolute;
        content: "Free";
        background-color: rgb(38, 0, 255);
        width: 60px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: yellow;
        font-size: 22px;
        left: 50px;
    
}
.Servicios{
    background-color: $NeutralColor;
    height: 100vh;
    width: 100%;
    &__Title{
        position: absolute;
        color:$NeutralColor1;
        font-family: $FontGoogle;
        font-size: 20px;
        text-transform: uppercase;
        width: 100%;
        padding: 20px;
        text-align: center;
        margin-top: 60px;
    }
    &__Tarjetas{
        width: 100%;
        position: absolute;
        margin-top: -35%;
       
    }
}
.Tarjetas{
        margin: -50px 10px 10px 60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        &__Ofertas{
            height: 330px;
            width: 310px;
            font-family: $FontGoogle;
            color: yellow;
        }
        &__TextoMain{
            margin-top: 78%;
            position: absolute;
            text-align: center;
            background-color: rgb(0, 38, 255);
            width: 100%;
            text-transform: uppercase;
            font-size: 20px;
            padding: 10px;
        }
        &__TextoSub{
            margin-top: 100%;
            position: absolute;
            text-align: center;
            background-color: $NeutralColor;
            width: 100%;
            color: $NeutralColor1;
        }
}
.Tarjeta{
    
    &1{
        background-image: url("/Practicas/LandingPageOnClub/img/BarraLibre.jpg");
        @include BackgroundImg;
        position: relative;
    }
    &1::after{
        @include Precio;
    }
    &2{
        background-image: url("/Practicas/LandingPageOnClub/img/GrupoMasAnimado.jpg");
        @include BackgroundImg;
        position: relative;
    }
    &2::after{
        @include Precio;
    }
    &3{
        background-image: url("/Practicas/LandingPageOnClub/img/EventosEnVivo.jpg");
        @include BackgroundImg;
        position: relative;
    }
    &3::after{
        @include Precio;
    }
}
