/*Botones Header*/
.btn_Header{
    text-decoration: none; 
    margin: 10px;
    padding: 10px;
    color: $NeutralColor1;
    border: 2px solid $NeutralColor1;
    border-radius: 10px;
    font-family: $FontGoogle;
    font-size: 13px;
    width: 100px;
    text-align: center;
    display: inline-block;
    &:hover{

       padding: 11px;
       box-shadow: 0px 10px 10px black;
      
    } 
}