/*Paleta de colores*/
$PrimaryColor:rgb(72, 52, 250);
$NeutralColor:rgb(22, 21, 21);
$NeutralColor1:white;
$SecondaryColor:rgb(0, 217, 255);
$ThearColor:rgb(100, 45, 100);

/*Fuente de las letras*/

$FontGoogle:'Merriweather', serif;